<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Properties>
		<Property name="basePath">/opt/wildfly/logs/</Property>
		<Property name="fileName">expensetracker</Property>
	</Properties>

	<Appenders>
		<Console name="consoleLogger" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="fileLogger"
			fileName="${basePath}/${fileName}.log"
			filePattern="${basePath}/${fileName}_%d{yyyyMMdd}.log">

			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />

			<Policies>
				<SizeBasedTriggeringPolicy size="100 KB" />
			</Policies>

			<DefaultRolloverStrategy max="3" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.appslandia" level="debug" additivity="false">
			<AppenderRef ref="fileLogger" />
			<AppenderRef ref="consoleLogger" />
		</Logger>

		<Logger name="com.expensetracker" level="debug"
			additivity="false">
			<AppenderRef ref="fileLogger" />
			<AppenderRef ref="consoleLogger" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="fileLogger" />
			<AppenderRef ref="consoleLogger" />
		</Root>
	</Loggers>

</Configuration>